@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown .dropdown-submenu {
    top: -10px;
    position: absolute;
    left: 67%;
    width: max-content;
}

.left_1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img_wrap {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    cursor: pointer;
}

.img_wrap img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.color-label {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-size: 10px;
    font-weight: 400;
    background-color: white;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 2px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

.image-container:hover .color-label {
  opacity: 1;
}

.left_2 img {
    width: 500px;
    height: 100%;
    object-fit: contain;
}

.active2 {
    border: 2px solid #e77600;
}

.alice-carousel__prev-btn{
    display: block!important;
    position: absolute!important;
    top: 50%!important;
    left: 0!important;
    width: 10px;
}

.alice-carousel__next-btn{
    display: block!important;
    position: absolute!important;
    top: 50%!important;
    right: 0!important;
    width: 10px;
}

.MuiList-root{
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}